th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

.table_button {
  border: 0px solid black;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
}