<h2>Add a new contact</h2>
<form action = "/new" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" value="<%=params[:name]%>" required>
    
    <label for="number">Phone Number: </label>
    <input type="number" id="number" name="number" value="<%=params[:number]%>" required>
    
    <label for="email">Email: </label>
    <input type="text" id="email" name="email" value="<%=params[:email]%>" required>

    <input type="submit" value="Create Contact">
  </div>
</form>